
.slider {
    position: relative;
    /* max-width: 600px; */
    margin: auto;
}

.slider img {
    width: 100%;
    height: auto;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}